<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VarAQT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <VarAQT.Properties.Settings>
            <setting name="CallSign" serializeAs="String">
                <value>PD1AQT</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>Chris</value>
            </setting>
            <setting name="QTH" serializeAs="String">
                <value>Almere</value>
            </setting>
            <setting name="Rig" serializeAs="String">
                <value>YAESU FTdx10</value>
            </setting>
            <setting name="GridLocator" serializeAs="String">
                <value>JO22OI</value>
            </setting>
            <setting name="VaraCommandClientIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="VaraCommandClientPort" serializeAs="String">
                <value>8300</value>
            </setting>
            <setting name="VaraKissClientPort" serializeAs="String">
                <value>8100</value>
            </setting>
        </VarAQT.Properties.Settings>
    </userSettings>
</configuration>
