<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VarAQT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <VarAQT.Properties.Settings>
            <setting name="VaraCommandClientIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="VaraCommandClientPort" serializeAs="String">
                <value>8300</value>
            </setting>
            <setting name="VaraKissClientPort" serializeAs="String">
                <value>8100</value>
            </setting>
            <setting name="VaraMonitorEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VaraMonitorCommandClientIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="VaraMonitorCommandClientPort" serializeAs="String">
                <value>8350</value>
            </setting>
            <setting name="VaraMonitorKissClientPort" serializeAs="String">
                <value>8100</value>
            </setting>
            <setting name="BeaconInterval" serializeAs="String">
                <value>5</value>
            </setting>
        </VarAQT.Properties.Settings>
    </userSettings>
</configuration>
